.Sobre {

    justify-content: center;
    align-items: center;
    margin-left: 5%;

}

.Sobre h3 {

    color: rgb(241, 173, 84);
    margin-left: 5%;
    letter-spacing: 3px;

}

.enunciado h2 {
   
    color: rgb(241, 173, 84);

}

.imagem_enunciado {

    width: 30%;
    height: 30%;
    margin-left: 10%;
    flex: 40%;
    text-align: center;

}

#melhor {

margin-left: 5%;

}