*{

    margin: 0;
    padding: 0;

}

.separador {

    border-bottom: 4px solid rgb(5, 5, 63);

}

.titulo_2 {

    text-align: center;
    color: rgb(241, 173, 84);
    letter-spacing: 3px;

}

.card-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.card{

    background-color: #fff;
    width: 180px;
    height: 260px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    margin: 0 10px 10px 0;

}

.card img{

    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}

.card div{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;

}

.card h1 {

    font-size: 1.2rem;

}

.card h2{

    font-size: .9rem;
    color: #aaaa;

}

.card button{

    background-color: #2192ff;
    height: 30px;
    border: none;
    padding: 10px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
    margin-right: 20px;

}

.card button:hover{

    background-color: #137de8;
    cursor: pointer;

}