.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.left_header{
    flex: 40%;
    margin-left: 10%;
    /* border: 2px solid black; */
}

.left_header h2{
    font-weight: 900;
    font-size: 20px;
    color: rgb(241, 173, 84);
    padding: 0%;
    margin: 0%;
}

.rigth_header{
    margin-right: 10%;
    flex: 40%;
    /* border: 2px solid orchid; */
    text-align: center;
}

.contact_header {

    background-color: rgb(12, 119, 35);
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.20s ease;
    shape-outside: 2px solid;
    box-shadow: red;

}

.contact_header:hover{

    transform: scale(1.05);
    transition: transform .2s;


}